<%= @user.username %>
<% @user.goals.each do |goal| %>
  <% if show_goal(goal) %>
    <%= goal.description %>
    <%= goal.status %>
  <% end %>
<% end %>

<% @user.comments.each do |comment| %>
  <%= comment.body %>
<% end %>

<h2>Add Comment</h2>

<form action="<%= user_user_comments_url(@user) %>" method="post">
<input type="hidden"
  name="authenticity_token"
  value=" <%= form_authenticity_token %>">

<textarea name="user_comment[body]" id="body"></textarea>

<input type="submit" value="Add Comment">

</form>
